### Program ###
/42sh

### Test ###
/test/bin/*.bin
/test/res

### Build ###
# Temporary build files
/bin/

### Debug files ###
.gdb_history
*.dSYM/
*_files/

### macOS ###
# General
.DS_Store

### Code ###
.vscode/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

### CLion ###
.idea/

### Emacs ###
*~
\#*\#
.\#*
